/*                                                                                                                                                     
        Alekya Venkatapuram
          Alekya_Venkatapuram@student.uml.edu
           GUI-I assignment 7
            11/15/2016
*/

body.main {
    min-height: 200%;
    margin-bottom: 2em;
    position: relative;
    
}

h1 {
    color: green;
    font-size: 75px;
    font-family: monospace;
    
    }

html, body {
    background-color: red;
    font-family: 'Josefins Sans', sans-serif;
    
    padding-left: 10%;
    padding-right: 10%;
}

#rowSt,#rowEn{
    background-color: green;
}
#colSt,#colEn{
    background-color: green;
}



.clearfooter {
    height: 100px;
    clear: both;
}

img.move-top {
    float: left;
    margin-right: 100px;
}

div.move-left {
    position: relative;
    float: left;
    font-size: 12px;
    margin-right: 50px;
}

span.bold-this {
    font-weight: bolder;
}


#selectedtabs {
    background-color: bisque
        padding-top:10px;
}


td {
  background: green;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  z-index: 3;
  
}

img.move-top {
    float: right;
    margin-right: 100px;
}

div.move-right {
    position: relative;
    float: right;
    font-size: 12px;
    margin-right: 50px;
}

span.bold-this {
    font-weight: bolder;
}




